# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# Django stuff:
*.log
*.sqlite3
db.sqlite3

# Media files
/media

# Static files
/staticfiles

# VS Code settings
.vscode/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# MyPy
.mypy_cache/

# Pytest
.cache/

# Coverage
.coverage
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints
